body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#watch-list-image{
  margin-top:50px;
  margin-left: 320px;
  height:200px;
  width:200px;
}

.header-logo{
  margin-left: 30px;
  height:100px;
}

.movie-cover-image{
  display: center;
  width: 200px;
  min-height: 100%;
  object-fit: cover;
}

#movie-container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: left;
  padding-top: 110px;
  margin-left: 85px;
}

.movie-cell{
  background-color: f2f3f4;
  padding-top: 5px;
  padding-right:10px;
  padding-left: 10px;
  width: 200px;
  /* overflow: hidden; */
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 4px 15px 0 rgba(0, 0, 0, 0.103);
}

.movie-cell:hover{
  transform: translate(0, -10px);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#nav-bar {
  background-color: f5f5f5;
  height: 75px;
  padding: none;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 4px 15px 0 rgba(0, 0, 0, 0.103);
}

#search-button{
margin-top: 20px;
margin-right: 200px;
display: inline-flex;
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: gray;
padding: 10px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
cursor: pointer;
}

#search-button:hover{
  background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
cursor: pointer;
}

#search-input[type=text]{
  margin-left: 300px;
  justify-content: center;
  display: inline-flex;
  background-color: lightgray;
  color: white;
  height: 30px;
}

#watch-list-button{
margin-top:20px;
margin-left:20px;
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: gray;
padding: 10px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
cursor: pointer;
}

#watch-list-button:hover{
  background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
cursor: pointer;
}

#add-to-watch-list-button{
margin-top: 20px;
margin-right: 20px;
margin-left: 20px;
margin-bottom: 8px;
display: inline-flex;
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: gray;
padding: 10px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
cursor: pointer;
}

#add-to-watch-list-button:hover{
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

